//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

.about
  strong
    a(href="/") Our community
    |  is a community of amazing people all over the globe!
  p We're a place where people can share their blogs, ask questions, learn from others, help others and grow.
  .about__links
    a(href="https://github.com/devmotheg")
      svg: use(xlink:href="/img/icons.svg#icon-github")
      |  mohamed muntasir