//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

extends ../index

block content
  .container
    - const modifier = page === "logIn" ? "log-in" : "register";
    form(novalidate spellcheck="false" class=`form form--${modifier}`)
      header.form__header
        strong.form__title Welcome to Blogging App Community...
        p.form__about
          a(href="/") Our community
          - const cta = page === "logIn" ? "Enter your credentials below to log into your account" : "Register by providing your credentials below";
          |  #{`is a community of amazing people all over the globe!`}
      .form__cta
        span=cta
      .form__group
        label.form__label(for="username")
          | username
          br
          span Can only contain letters, numbers, and underscores and range from 2 to 16 characters
        input#username.form__input(type="text" name="username")
      .form__group
        label.form__label(for="password")
          | password
          br
          span Can at least have 8 characters
        input#password.form__input(type="password" name="password")
      .form__group
        - const text = page === "logIn" ? "log in" : "register";
        button(class=`form__btn form__btn--${modifier}`)=text

