//-!
  @author Mohamed Muntasir
  @link https://github.com/devmotheg

.footer-background
  .container
    footer.footer
      a(href="https://github.com/devmotheg") &copy; #{new Date(Date.now()).getFullYear()} by Mohamed Muntasir
